.button_design {
  /* margin: 5px !important; */
  border-radius: 70px !important;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 4px solid #8d522c;
  background-color: #ffc519;
  justify-content: center;
  align-items: center;
  padding: 5px 25px 5px 25px;
  vertical-align: middle;
  line-height: 1.8em;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 15px;
  font-weight: 300;
  margin-left: 0 !important;
  transition: 0.5s;
}

.button_design h3 {
  color: white;
}

/* .button_design:hover {

  background-color: #8d522c;
  justify-content: center;
  align-items: center;

  font-family: 'Poppins', sans-serif;
  color: white;

  font-weight: 300;
} */

.topic_title {
  color: #1a1a1a;
  font-size: 35px;
  padding-bottom: 1rem;
  text-align: center;
  margin-top: 50px;
}

.recently_pro_prices {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 1rem;
  display: inline-block;
  padding: 3px;
  color: #1a1a1a;
}

.recently_cards__title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  padding: 10px;
  color: #1a1a1a;
}

@media (max-width: 820px) {
  h3 {
    font-size: 13px;
  }

  .name_price {
    height: 150px;
  }
}

@media (max-width: 500px) {
  .topic_title {
    color: #1a1a1a;
    font-size: 25px;
    padding-bottom: 1rem;
    text-align: center;
    margin-top: 50px;
  }
}