.Hvae38 {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
}

.UWIOO4 {
    overflow: visible;
}

.UWIOO4 {
    flex-direction: column;
}

.d2XTTX,
.UWIOO4 {
    display: flex;
}

.d2XTTX {
    border-bottom: 1px solid #efefef;
    padding: 22px 30px;
    height: 80px;
    box-sizing: border-box;
}

.d2XTTX,
.UWIOO4 {
    display: flex;
}

.d2XTTX {
    align-items: center;
}

.KxkIgA {
    flex: 1;
}

.Df4Vny {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #1a1a1a;
}

.VwAsdf {
    font-size: .875rem;
    line-height: 1.0625rem;
    color: #555;
    margin-top: 3px;
}

._6r5J8Y {
    margin-left: 10px;
}

.ErE1Vh {
    height: 40px;
    padding: 0 20px;

    font-size: .875rem;
    font-weight: 400;
    position: relative;
    overflow: visible;
    color: white;
    outline: 0;
    background: #BF4619;
}

.t9RWKn {
    font-family: 'Poppins', sans-serif;
    align-items: center;
    display: flex;
}

.EHan\+5 {
    padding: 12px 30px 0;
    background: #fff;
}

.GsuIol {
    margin-bottom: 8px;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.OIBd-J {
    padding: 18px 0 20px;
    margin-bottom: 15px;
}

.RnMqRZ {
    border-bottom: 1px solid rgba(0, 0, 0, .09);
    background: #fff;
}

.RnMqRZ {
    display: flex;
}

._70j3aj {
    min-width: 0;
    width: 100%;
}

._7lC5y1 {
    margin-bottom: 4px;
}

.fVHv1Z {
    justify-content: space-between;
    display: flex;
}

.XBSydm {
    margin-right: 8px;
}

.DikMLj {
    flex-grow: 1;
    overflow-x: hidden;
}

.DikMLj {
    display: flex;
}

.Tv2wKj {
    color: rgba(0, 0, 0, .87);
    font-size: 1rem;
    line-height: 1.5rem;
}

.YD3W3V {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.uBRQwt {
    font-weight: 500;
    min-width: 0;
}

.uBRQwt {
    display: inline-flex;
}

.uBRQwt {
    align-items: center;
}

.xbIya3 {
    border-left: 0.5px solid rgba(0, 0, 0, .26);
    margin: 0 8px;
}

.L8KYK3 {
    font-size: .875rem;
    line-height: 1.25rem;
}

.L8KYK3 {
    color: rgba(0, 0, 0, .54);
}

.Ayh0hN {
    white-space: nowrap;
}

.IsnjAd {
    display: flex;
}

.IsnjAd {
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.tiDOor {
    font-size: .875rem;
    line-height: 1.25rem;
    color: rgba(0, 0, 0, .54);
}