@media (min-width: 769px) {
  .enquiry_link {
    color: #1a1a1a;
    font-family: 'Pacifico', serif;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    text-decoration: underline;
    margin: 0 auto; 
    display: block; 
    width: max-content; 
  }
  .enquiry_link:hover {
    color: #ffc519;
    font-family: 'Pacifico', serif;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    text-decoration: underline;
    position: relative;
  }
  .modal_title{
    font-family: 'Pacifico', serif;
    font-size: 40px;
    line-height: 60px;
    margin: 0px 0px 20px;
  }

  .text_input {
    margin-bottom: 20px;
  }

}

@media (max-width: 400px) {
  .enquiry_link {
    color: #1a1a1a;
    font-family: 'Pacifico', serif;
    font-size: 25px;
    line-height: 60px;
    text-align: center;
    text-decoration: underline;
    margin: 0 auto; 
    display: block; 
    width: max-content; 
  }
  .enquiry_link:hover {
    color: #ffc519;
    font-family: 'Pacifico', serif;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    text-decoration: underline;
    position: relative;
  }
  .modal_title{
    font-family: 'Pacifico', serif;
    font-size: 30px;
    line-height: 60px;
    margin: 0px 0px 20px;
  }

  .text_input {
    margin-bottom: 30px;
  }

}
