
  .search_result_box {
    z-index: 999;
    position: absolute;
    background-color: white;
    color: black;
    border: 1px solid white;
    overflow: auto;
    height: auto;
    width: 820px;
    text-align: left;
    margin-left: 330px;
  }
  
  .search_result_box_detail {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 10px;
    align-items: center;
    padding-left: 25px;
  }
  /* 
  .search_result_box_detail:hover {
    background-color: #ceced2;
    color: rgb(173, 168, 168);
  }
   */
  .search_result_box_info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  
  .search_result_box_image {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 15%;
  }
  
  .search_result_box_price {
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
  }

  .search_result_box_name {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
  }

  .search_result_box_name:hover {
    font-family: 'Gabarito', cursive;
font-family: 'Poppins', sans-serif;
    color: #ffc519;
  }