.user_container {
    padding: 0 1.875rem 0.625rem;
}

.user_heading {
    border-bottom: 0.0625rem solid #efefef;
    padding: 1.125rem 0;
}


.user_profile {
    height: 50vh;
}

.user_heading {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-transform: capitalize;
    color: #1a1a1a;
}

.user_body {
    padding-top: 1.875rem;
    display: flex;
    flex-direction: row;
}

.user_infor {
    flex: 1;
    padding-right: 3.125rem;
}

.form_infor {
    display: block;
    margin-top: 0em;
}

.imformation {
    width: 602px;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;

    box-sizing: border-box;
    text-indent: initial;

    border-color: gray;
}

.table_tr {
    vertical-align: middle;
    display: table-row;
    border-color: inherit;
}

.table_td_1 {
    padding: 0;
    text-align: left;
    color: rgba(85, 85, 85, .8);
    overflow: hidden;
    padding-bottom: 30px;
    white-space: nowrap;
    min-width: 20%;
    display: table-cell;
    vertical-align: inherit;
}

.table_td_1 label {
    cursor: default;
}

.table_td_2 {
    box-sizing: border-box;
    padding-left: 20px;
    padding-bottom: 30px;
}

.td_div_1 {
    align-items: center;
    display: flex;
}

.td_div_name {
    font-size: .875rem;
    font-family: 'Poppins', sans-serif;
    color: #1a1a1a;
    margin-right: 30px;
}

.td_div_score {
    font-family: 'Poppins', sans-serif;
    padding: 8px;
    gap: 6px;
    border-radius: 18px;
    background: rgb(251, 243, 226);
    height: 36px;
}

.td_div_phone {
    font-family: 'Poppins', sans-serif;
}

.td_div_3 {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.td_div_input {
    padding: 5px;
    width: 32%;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #efefef;
    border-radius: 20px;

}

.td_div_input_1 {
    padding: 5px;
    width: 49%;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #efefef;
    border-radius: 20px;

}

.td_div_input_2 {
    padding: 5px;
    width: 49%;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #efefef;
    border-radius: 20px;

}

.td_link {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    position: relative;
    overflow: visible;
    outline: 0;
    background: #BF4619;
    height: 40px;
    padding: 8px 14px;
    margin-right: 20px;
    border-radius: 30px;
}